{% extends '_layout.html' %}

{% block title %}Create Post{% endblock %}

{% block body %}
<div class="container">
    <h1>Create a post below</h1>
    <form action="/post" method="post" id="createform" name="createform">
        <!-- get the title and additional comments for the post-->
        <input type="text" placeholder="Title" name="post_title" id="post_title" required>
        <input type="text" placeholder="Caption" name="post_caption" id="post_caption"><br>

        <select name = "song_select" id="song_select" required>  
            {% for tracks in selection %} 
                <option name = "song_name" id="song_name" value='{{ tracks.id }}'>{{ tracks.name }} by
                    {% for artist in tracks.artists %}
                        , {{ artist.name }}
                    {% endfor %}
                </option>
            {% endfor %}
        </select><br>
        <input type="submit" value="Create!">
    </form>

    <form action="/" method="GET" id="cancel" name="cancel">
        <input type="submit" value = "Cancel">
    </form>
    
</div> 
{% endblock %}
