{% extends '_layout.html' %}

{% block title %}Create Post{% endblock %}

{% block body %}

<h1 class="mb-3">Edit {{ post.title }}</h1>
<form action="/post/{{ post.post_id }}" method="post">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" name="title" id="titles" class="form-control" autocomplete="off" required value="{{ post.title }}">
    </div>
    <div class="mb-3">
        <label for="caption" class="form-label">Biography</label>
        <input type="text" name="caption" id="caption" class="form-control" autocomplete="off" required value="{{ post.caption }}">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


{% endblock %}