{% extends '_layout.html' %}

{% block title %}SPLOT{% endblock %}

{% block body %}
<div class="container">
    <div id="usrinfo">
        <!-- greeting for user-->
        <h1> Hey, {{ user_in_session_name }} !</h1>
        <p><em>Where music meets your soul...</em></p> <!-- idk website tagline -->
    </div>
    <div class="container" id="postfeed">
        <h3>Check out what you've been missing:</h3>
        <!-- pull posts from database and put them on the user's homepage-->
        {% for post in postlist%}
            <div class="container" id="post">
                <!-- post information -->
                <!-- User details for the post-->
                <h3> {{ user['name'] }}</h3>
                <p> {{ user['status'] }}</p>

                <div class="container">
                    <!-- post details-->
                    <h3> {{ post['title'] }}</h3>
                    <br>
                    <p> {{ post['caption'] }}</p>

                    <div class="container">
                        <!-- area for the song-->
                        <h1> {{ song['title'] }}</h1>
                        <h4> {{ song['artist'] }}</h4>
                        <!-- placeholder for music details-->
                        <a href="{{ song['link'] }}">Link to the song</a>
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}