{% extends '_layout2.html' %}

{% block title %}W.I.P.M{% endblock %}

{% block body %}

    <!--prompt user to login-->
    <h1 class="mb-3">Welcome to W.M.I.P</h1>
    <p>Please log in or sign up to talk about all the good tunes out today</p>
        
    <!--signin and signup buttons-->
    <div class="container">
        <div class="row">
            <!--signup button-->
            <div class="col">
               <form action="/signup" method="GET">
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </form>
            </div>
            
            <!--signin button-->
            <div class="col">
                <form action="/signin" method="GET"> 
                    <button type="submit" class="btn btn-primary">Sign In</button>
                </form>
            </div>
        </div>
     </div>

{% endblock %}