{% extends '_layout2.html' %}

{% block title %}SPLOT{% endblock %}

{% block body %}
    <!--prompt user to login-->
    <h1 class="mb-3">Welcome to SPLOT</h1>
    <p>Please log in or sign up to talk about all the good tunes out today</p>

<div style="width:600px; background-color: rgba(33, 33, 33, 0.856); margin: 75px auto 200px auto; padding-top: 15px; padding-bottom: 15px;">
   <div class="container">

        <!--signup button-->
        <div class="row" style="padding-left: 150px; margin-bottom: 15px;">
                <form action="/signup" method="GET">
                    <button type="submit" class="btn btn-outline-primary" style="width: 300px; height: 50px; font-size:x-large; margin: 10px 150px 10px auto;">Sign Up</button>
                </form>
        </div>

        <!--signin button-->
        <div class="row" style="padding-left: 150px; margin-bottom: 15px;">
            <form action="/signin" method="GET"> 
                <button type="submit" class="btn btn-outline-primary" style="width: 300px; height: 50px; font-size:x-large; margin: 10px 150px 10px auto;">Sign In</button>
            </form>
        </div>

        <div class="row" style="padding-left: 150px; margin-bottom: 15px;">
            <script src="https://apis.google.com/js/platform.js" async defer></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <meta name="google-signin-client_id" content="912544824526-5tv415qgqhecnatj1cgudd09cklel7vq.apps.googleusercontent.com">

            <div class="g-signin2" data-onsuccess="onSignIn"  style="width: 300px; height: 50px; font-size:x-large; margin: 10px 150px 10px auto;"></div>
            
            <form action="/in" method="POST">
                <input type="hidden" id="input" name="input" value=""  style="width: 300px; height: 50px; font-size:x-large; margin: 10px 150px 10px auto;">
            </form>

            <script name = "info">
                function onSignIn(googleUser) {
                    var data = googleUser.getAuthResponse().id_token;
                    var profile = googleUser.getBasicProfile();
                    var name = profile.getName();
                    var email = profile.getEmail();
                    var img = profile.getImageUrl();

                    document.getElementById("input").value = data;
                    

                    var auth2 = gapi.auth2.getAuthInstance();
                    auth2.signOut().then(function () {
                    });

                    $.ajax({
                        type : "POST",
                        url : '/google/in',
                        dataType : 'json',
                        data : JSON.stringify({
                            googleIdToken : email
                        }),
                        contentType : 'application/json',

                        // if a gmail account is selected
                        success: function(response) {
                            // if the account is already made then start session and go home
                            if(response == '1'){
                                window.location.pathname = "/home";
                                return;
                            }
                            
                            // if the account is not made then direct to the google signup page
                            window.location.pathname = "/google/signup";
                        },
                    })
                }
                
            </script>
        </div>

   
    </div>
</div>


{% endblock %}