{% extends '_layout.html' %}

{% block title %}W.I.P.M || Sign up{% endblock %}

{% block body %}

<div class="container">
    <div class="row align-items-start">
        <div class="col">
            <img src="static/assets/icons.png" alt="Icon Image" style="width: 95%;">
        </div>

        <div class="col-md-auto">
            <h1>Ready to hear some cool vibes?</h1>
            <h2>Sign up for a free account</h2>
            <form action = "/signup" method = "post">
                <!--First name and last name field-->
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="username" id="username" placeholder="Username" required autocomplete="off">
                </div>

                <!--Email field-->
                <div class="mb-3">
                    <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Email address" required autocomplete="off">
                </div>

                <!--Password field-->
                <div class="mb-3">
                    <input type="password" class="form-control" name="password" id="password" aria-describedby="passwordHelpBlock" placeholder="Password" required autocomplete="off">
                </div>

                <!--Password comfirmation field-->
                <!-- <div class="mb-3">
                    <input type="password" class="form-control" name="comfirmPassword" id="comfirmPassword" aria-describedby="passwordHelpBlock" placeholder="Comfirm password" required>
                </div> -->

                <!--Sign up button-->
                <button type="submit" class="btn btn-outline-primary">Sign up</button>

                <br>
                <!--Go to signup page-->
                <a href="/signin" class="link-secondary">Already have an account?</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}