{% extends '_layout2.html' %}

{% block title %}SPLOT || Sign up{% endblock %}

{% block body %}

<div class="container">
    
    <div class="row align-items-start">
        <!--website image-->
        <div class="col-md-auto">
            <img src="/static/assets/icons.png" alt="Icon Image" style="width: 95%;">
        </div>

        <!--signup form-->
        <div class="col">
            
            <h1>Ready to hear some cool vibes?</h1>
            <h2>Sign up for a free account</h2>

            <form action="/signup" method="POST">
                <!--First name and last name field-->
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="username" id="username" placeholder="Username" required autocomplete="off">
                </div>

                <!--Email field-->
                <div class="mb-3">
                    <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Email address" value="{{email}}" autocomplete="off" readonly>
                </div>


                <!--Password field-->
                <div class="mb-3">
                    <input type="password" class="form-control" name="password" id="password" aria-describedby="passwordHelpBlock" placeholder="Password" required autocomplete="off">
                </div>

                <!--Sign up button-->
                <button type="submit" class="btn btn-outline-primary">Sign up</button>

                <br>
                <!--Go to signup page-->
                <a href="/signin" class="link-secondary">Already have an account?</a>
            </form>
        </div>

    </div>

</div>

{% endblock %}