{% extends '_layout.html' %}

{% block title %}W.I.P.M || Sign in{% endblock %}

{% block body %}

<div class="container">

    <div class="row align-items-start">

        <!--sigin form-->
        <div class="col">

            <h1>Lets get this party rocking!</h1>
            <h2>Sign back into the action</h2>
            
            <form action="/signin" method="POST">
                <!--Username field-->
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="username" id="username" placeholder="Username" autocomplete="off">
                </div>

                <!--Password field-->
                <div class="mb-3">
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password" autocomplete="off">
                </div>

                <!--login button-->
                <button type="submit" class="btn btn-outline-primary">Sign in</button>
                <br>

                <!--Go to signup page-->
                <a href="/signup" class="link-secondary">Don't have an account?</a>
            </form>
        </div>

        <!--website image-->
        <div class="col-md-auto">
            <img src="static/assets/icons.png" alt="Icon Image" style="width: 95%;">
        </div>

    </div>

</div>
{% endblock %}