{% extends '_layout.html' %}

{% block body %}

<div>
    <h2>{{ post.title }}</h2>
    <h4>{{ post.song_name }} by {{ post.song_artists }}</h4>
    <audio controls src="{{ post.song_link }}">Your browser does not support the<code>audio</code> element.</audio>
    <p>{{ post.caption }}</p>
    
    <form action="/post/{{ post.post_id }}/delete" method = 'POST'>
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
    <form action="/post/{{ post.post_id }}/edit" method = 'GET'>
        <button type="submit" class="btn btn-outline-primary">Edit</button>
    </form>
</div>

{% endblock %}