{% extends '_layout.html' %}

{% block title %}{{user.user_name}}'s Profile || SPLOT{% endblock %}


{% block body %}

<div class="container" style="background-color: rgb(17, 17, 17); margin-top: 5%;">
    <!--Row contains basic user information (picture, name, followers, etc.)-->
    <div class="row my-2">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="background-color: rgba(33, 33, 33, 0.856);">
            <!--Insert the user profile picture *-->
            <div class="text-center my-2">
                <img src="/static/assets/default-profile-icon.jpg" class="rounded" alt="Default profile picture." style="width: 50%; margin-top: 10px;">
            </div>


            <!--username-->
            <h3 class="text-center">
                {{ user.user_name }}
            </h3>

            {%if user.user_location == 'None' %}
                <p class="text-center">
                    Resident of the World
                </p>
            {% else %}
                <p class="text-center">
                    {{ user.user_location }}
                </p>
            {% endif %}

            <!--list posts, followers, and following-->
            <div class="row">
                <div class="col-md-4">
                    <h4 class="text-center">{{ postnum }}</h4>
                    <p class="text-center">Posts</p>
                </div>
                <div class="col-md-4">
                    <h4 class="text-center">{{ followercount }}</h4>
                    <p class="text-center">Followers</p>
                </div>
                <div class="col-md-4">
                    <h4 class="text-center">{{ followingcount }}</h4>
                    <p class="text-center">Following</p>
                </div>
            </div>

        </div>
        <div class="row-md-4"></div>
    </div>

    {% if user.user_id != user_in_session %}
    <!--follow and message buttons-->
        <div class="row my-2">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="d-grid gap-2 d-md-block text-center">
                    <form action="/user_profile/{{ user.user_id }}/follow" method = 'POST'>
                        {% if isFollowing == false %}
                        <button class="btn btn-outline-primary" type="submit"  style="width: 95px; margin-left: 10px; margin-right: 10px;">Follow</button>
                        {% else %}
                        <button class="btn btn-outline-primary" type="submit"  style="width: 95px; margin-left: 10px; margin-right: 10px;">Following</button>
                        {% endif %}
                    </form>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    {% endif %}

    <!--user biography-->
    <div class="row my-2 ">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="background-color: rgba(33, 33, 33, 0.856);">
            <div class="row my-1">
            </div>
            <div class="row my-1">

                {% if user.user_biography == None %}
                    <p class="text-center">
                        No bio yet. Add one!
                    </p>
                {% else %}
                    <p class="text-center" style="padding-right: 15px; padding-left: 15px;">
                        {{ user.user_biography }}
                    </p>
                {% endif %}

            </div>
            <div class="row my-1">
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

{% if user.user_id == user_in_session %}
    <div class="row my-2">

        <div class="col-md-4">
        </div>

        <div class="col-md-4" style="background-color: rgba(33, 33, 33, 0.856);">
            <div>
                <table style="margin-right: auto; margin-left:auto;">
                    <tr>
                        <td>
                             <!--logout button-->
                            <form action="/logout" method = 'POST'>
                                <button type="submit" class="btn btn-outline-primary" style="width: 95px; margin-left: 10px; margin-right: 10px;">Logout</button>
                            </form>
                        </td>
                        <td>
                            <!--edit profile button-->
                            <form action="/user_profile/{{ user.user_id }}/edit" method = 'GET'>
                                <button type="submit" class="btn btn-outline-primary" style="width: 95px; margin-left: 10px; margin-right: 10px;">Edit</button>
                            </form>
                        </td>
                        <td>
                           <!--delete profile button-->
                            <form action="/user_profile/{{ user.user_id }}/delete" method = 'POST'>
                                <button type="submit" class="btn btn-outline-danger" style="width: 95px; margin-left: 10px; margin-right: 10px;">Delete</button>
                            </form>
                        </td>
                    </tr>
                </table>

            </div>
        </div>

        <div class="col-md-4">
        </div>
    </div>

{% endif %}


{% endblock %}