{% extends '_layout.html' %}

{% block body %}

<div class = "centerofpage">
    <h2>{{ post.title }}</h2>
    <h4>{{ post.song_name }} by {{ post.song_artists }}</h4>
    <video controls poster='{{ post.song_image }}' >
        <source src="{{ post.song_link }}" type= 'audio/mp3' style="background-color: black">
    </video>
    <h6>{{ post.caption }}</h6>
    
    <form action="/post/{{ post.post_id }}/delete" method = 'POST'>
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
    <form action="/post/{{ post.post_id }}/edit" method = 'GET'>
        <button type="submit" class="btn btn-outline-primary">Edit</button>
    </form>
</div>
<form action="/comment" method="POST">
    <div class="mb-3">
        <label for="commentbox" class="form-label">Comments:</label>
        <textarea class="form-control" id="commentbox" rows="2" name="comment"></textarea>
    </div>
    <input type="hidden" id="postId" name="postId" value="{{ post.post_id }}">
    <input type="submit">
</form>

{% if comments is not none %}
    {% for comment in comments %}
        <p>{{ comment.content }}</p>
    {% endfor %}
{% endif %}

{% endblock %}