{% extends '_layout.html' %}

{% block title %}Create Post{% endblock %}

{% block body %}


<h1 class="mb-3">Pick a Song:</h1>
<div style="width:900px; background-color: rgba(33, 33, 33, 0.856); margin: 75px auto 200px auto; padding-top: 15px; padding-bottom: 15px;">
    <form action="/post/createpost" method="get">

        <div class="mb-3">
            <label for="songname" class="form-label" style="margin-left: 100px; font-size: larger;">Enter a Song Name:</label>
            <br/>
            <input type="text" name="songname" id="songname" class="form-control" autocomplete="off" required style="width: 60%; margin: 0px auto 10px auto; padding: 10px;">
        </div>
        
        <button type="submit" class="btn btn-outline-primary" style="margin-left: 325px; width: 100px; margin-right: 10px;">Next</button>
        <button type="button" class="btn btn-outline-danger" style="width: 100px;" onclick="window.location.href='/'">Cancel</button>
    </form>
</div>

{% endblock %}