{% extends '_layout.html' %}

{% block title %}Post{% endblock %}

{% block body %}
<div class="container">
    <!-- User details for the post-->
    <h3> {{ user['name'] }}</h3>
    <p> {{ user['status'] }}</p>

    <div class="container">
        <!-- post details-->
        <h3> {{ post['title'] }}</h3>
        <br>
        <p> {{ post['caption'] }}</p>

        <div class="container">
            <!-- area for the song-->
            <h1> {{ song['title'] }}</h1>
            <h4> {{ song['artist'] }}</h4>
            <!-- placeholder for music details-->
            <a href="{{ song['link'] }}">Link to the song</a>
        </div>

        <!-- section for form for adding comments, comments listed here -->
        <form method="POST" action="#" id="new-comment-form">
            <!-- section for adding content -->
            <label for="comment-content">Content</label>
            <input type="text" id="comment-content" name="comment-content">
        </form>

        {% for comment in comments %}
            <div id="comment">
                <h5 id="comment's user"> {{ comment['user_id'] }} </h5>
                <p id="comment-content"> {{  comment['content'] }}</p>
            </div>
        {% endfor %}

    </div>
</div>
{% endblock %}